name: Build, Push and Deploy Frontend Shortener

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Login DockerHub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build image
        run: docker build -t zadicao/frontend-shortener:latest --build-arg VITE_API_URL=${{ secrets.VITE_API_URL }} --build-arg VITE_API_KEY=${{ secrets.VITE_API_KEY }} .

      - name: Push image
        run: docker push zadicao/frontend-shortener:latest

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: SSH and Deploy
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd infra-shortener/
            docker-compose pull
            docker-compose up -d
